@page
@model GuessingGame.Pages.LeaderboardsModel
@{
}

<h1>Total rows in database - @Model.GameResults.Count</h1>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col">Username</th>
            <th scope="col">Games won</th>
            <th scope="col">Games played</th>
            <th scope="col">% of games wons</th>
            <th scope="col">Average tries</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>46</td>
            <td>100</td>
            <td>46%</td>
            <td>5.3</td>
        </tr>
    </tbody>
</table>